@model TaskListViewModel

@if (Model != null && Model.Tasks.Any())
{
    var taskViewModel = Model.Tasks.FirstOrDefault();

    <table class="table table-striped" id="task-table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.LabelFor(m => taskViewModel.Name)</th>
                <th>@Html.LabelFor(m => taskViewModel.Notes)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr class="view-mode @task.RowClass" data-id="@task.TaskId">
                    @Html.EditorFor(m => task)
                </tr>
            }

            <tr id="new-task-edit-row">
                @Html.EditorFor(m => m.NewTask, "NewTaskViewModel")
            </tr>
        </tbody>
    </table>
}

else
{
    <p>There are no tasks in this task list.</p>
}